@charset "ISO-8859-1";

body {
	overflow: scroll;
	display: inlin-block;
	transform: scale(.95);
}

table {
	border-collapse: separate;
	border-left: 0;
	border-radius: 50px;
	border-spacing: 0px;
	text-align: center;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	border-collapse: separate;
	text-align: center;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	text-align: center;
}

th, td {
	padding: 5px 4px 6px 4px;
	text-align: center;
	vertical-align: top;
	border-left: 1px solid #ddd;
	text-align: center;
}

td {
	border-top: 1px solid #ddd;
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child
	{
	border-radius: 0px 0 0 0px;
}

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child
	{
	border-radius: 0px 0 0 0px;
}

.image{
	max-width: 80%;
	height: auto;
	text-align: center;
	padding: 5px;
}

/* Glow on hover was utilized from https://codepen.io/leandrosimoes/pen/VqZxaG. */

.glow-on-hover {
	width: 100px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 50px;
}

.glow-on-hover:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5,
		#002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 50px;
}

.glow-on-hover:active {
	color: #000
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 50px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.delete {
	width: 60px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 50px;
}

.delete {
	width: 60px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 50px;
}

.delete:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5,
		#002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 50px;
}

.delete:active {
	color: #000
}

.delete:active:after {
	background: transparent;
}

.delete:hover:before {
	opacity: 1;
}

.delete:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FF0000;
	left: 0;
	top: 0;
	border-radius: 50px;
}

@keyframes glowing { 
    0% 
    {
	    background-position: 0 0;
    }   
    50%
    {
        background-position:400% 0;
    }   
    100%
    {
        background-position:0 0;
    }
}

form {
	display: inline-block;
}