<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate.html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserPage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"th:href="@{/assets/css/MainStyle.css}" />
</head>
<body>
<div layout:fragment="content">

	<div class="datatable" align="center">
		
		<!-- Table containing all Item information-->
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Edit</th>
					<th scope="col">Name</th>
					<th scope="col">Password</th>
                    <th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="User: ${Users}">

					<td>
						<form action="#" th:action="@{/User/edit(id=${User.id})}" th:method="post">
							<input type="hidden" name="_method" value="edit" />
							<button type="submit" id="submitButton" class="glow-on-hover">Edit</button>
						</form>
					</td>
					<td th:text="${User.userName}">userName</td>
					<td th:text="${User.userPassword}">password</td>
					<td>
						<form th:action="@{/User/delete(id=${User.id})}" th:method="delete">
							<button type="submit" id="submitButton" class="glow-on-hover">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> 

</body>
</html>